.hero {
  background-image: url("../assets/bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100dvh;
  display: flex;
  opacity: 0.7;
  justify-content: center;
  align-items: center;
  padding: 0 100px;
  font-family: "Outfit", sans-serif;
}

.display.hero_display {
  justify-content: center;
  background-color: rgb(21, 20, 28);
}

.hero_content {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
}

.hero_header {
  font-size: 80px;
  color: #0aff0a;
  text-shadow: 0px 0px 5px #0aff0a, 0px 0px 10px rgba(10, 255, 10, 0.7);
}

.hero_subtitle {
  font-size: 40px;
  text-shadow: 0px 0px 2px rgb(252, 252, 252),
    0px 0px 5px rgb(252, 252, 252, 0.5);
}

.hero_game_button {
  font-size: 25px;
  padding: 15px 45px;
  border-radius: 5px;
  font-weight: 600;
  font-family: "Outfit", sans-serif;
  background-color: #fcfcfc;
  cursor: pointer;
  transition: all 0.7s ease-in-out;
  color: rgb(21, 20, 28);
  z-index: 10;
  text-decoration: none;
}

.hero_game_button:hover {
  background-color: #d0cbcb;
}

@media (max-width: 1200px) {
  .hero {
    padding: 0;
  }
}

@media (max-width: 900px) {
  .hero_header {
    font-size: 70px;
  }

  .hero_subtitle {
    font-size: 30px;
  }
}

@media (max-width: 750px) {
  .hero_content {
    gap: 40px;
  }

  .hero_header {
    font-size: 60px;
    text-align: center;
  }

  .hero_subtitle {
    font-size: 25px;
    text-align: center;
  }
}

@media (max-width: 550px) {
  .hero_content {
    gap: 35px;
  }

  .hero_subtitle {
    font-size: 20px;
  }

  .hero_game_button {
    min-width: 100%;
    text-align: center;
  }
}

@media (max-width: 350px) {
  .hero_content {
    gap: 30px;
  }
}
