.tic_tac_toe {
  font-family: "Outfit", sans-serif;
  background-image: url("../assets/bg_dark.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  max-height: 100dvh;
  overflow-y: hidden;
  display: flex;
}

.tic_wrapper {
  display: flex;
  justify-content: center;
  position: relative;
}

.tic_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fcfcfc;
  height: 100vh;
  width: 100%;
  max-width: 600px;
  bottom: 50%;
  gap: 40px;
  padding: 50px 10px 0 10px;
  background-color: rgb(21, 20, 28);
}

.tic_board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: fit-content;
  gap: 10px;
}

.square_button {
  width: 110px;
  height: 110px;
  font-size: 30px;
  font-weight: 400;
  background-color: rgb(32, 30, 43);
  cursor: pointer;
  align-items: center;
  color: #fcfcfc;
}

.square_button:hover {
  background-color: rgb(44, 41, 66);
}

.square_button:focus {
  outline: none;
}

.winning_square {
  background-color: #4e5ba8;
  font-weight: 700;
}
.winning_square:hover {
  background-color: #465298;
  font-weight: 700;
}

@media (max-width: 450px) {
  .square_button {
    width: 100px;
    height: 100px;
  }
}

@media (max-width: 400px) {
  .square_button {
    width: 85px;
    height: 85px;
  }
}
